<?xml version='1.0' encoding='utf-8'?>
<widget id="com.replmade.qw3rt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>qw3rt</name>
    <description>Private Chat App</description>
    <author email="replmade@gmail.com" href="https://replmade.com">
        REPLMade LLC
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
